.visual-d3CustomVisual6C69AB0B8C0043849557CC5C17A59169_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-d3CustomVisual6C69AB0B8C0043849557CC5C17A59169_DEBUG p em {
  background: yellow;
  padding: 5px;
}
